
.App {
  text-align: center;
  background-color: #f9f9f9;
}

/* form {
  display: flex;
  flex-direction: column;
} */

.right-aligned {
  justify-content: flex-end;
}

#login-container {
  place-items: center center;
}

.comment-btn {
  min-width: 25%;
  width: 25%;
}

.user-profile-pic {
  max-width: 9%;

}

.overflow {
  --max-lines: 3;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem;
}


.container {
  display: flex;
  text-align: left;
}

.flex-child {
  flex: 1;

}

.flex-child:first-child {
  margin-right: 10px;
} 

#post-container {
  max-width: 100%;
}

#post {
  white-space: pre-wrap;
}

#profile {
  max-width: 20%;
}

.text-ellipsis--2 {
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.text-truncate.text-truncate--2{
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.login-post {
  margin: auto;
  width: 50%;

}

.img-obj {
  /* width: 100px;
  height: 200px; */
  object-fit: scale-down;
}

.fix {
  top: 0;
  position: fixed
}

