
.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.right-aligned {
  justify-content: flex-end;
}

#login-container {
  place-items: center center;
}

.comment-btn {
  min-width: 25%;
  width: 25%;
}

.user-profile-pic {
  max-width: 5%;

}

